<html xmlns:th="http:/www.thymeleaf.org" th:replace="admin/adminbase::layout(~{::section})">
<head>
</head>
<body>
<section>
<div class="main-panel w-100 row ms-auto"  style="margin-right: -55% !important;">
        <div class="content-wrapper pb-0" style="margin: auto;">
         <h1 class="text-center">Change Password</h1>
         <div th:if="${message}">
  				<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
  		 </div>
        <div class="row px-3">
       		<form method="post">
       			<table class="table table-bordered" style="margin:30px auto;">	
       			<tr>
       			<th>Enter Old Password : </th>
       			<td><input type="text" style="border: 0px;" name="oldpass" placeholder="enter old password..." required="required"/></td>
       			</tr>
       			
       			<tr>
       			<th>Enter New Password : </th>
       			<td><input type="text" style="border: 0px;" name="newpass" placeholder="enter new password..." required="required"/></td>
       			</tr>
       			<tr>
       			<th>Enter Confirm New Password : </th>
       			<td><input type="text" style="border: 0px;" name="confirmpass" placeholder="enter confirm password..." required="required"/></td>
       			</tr>
       			
       			<tr>
       			<td class="text-center" colspan="2">
       				<button type="submit" class="btn btn-primary">Change Password</button>
       			</td>
       			</tr>
       			</table>
       		</form>
        </div>
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial -->
      </div>
     

</section>
</body>
</html>