<html xmlns:th="http:/www.thymeleaf.org" th:replace="admin/adminbase::layout(~{::section})">
<head>
</head>
<body>
<section>
<div class="main-panel w-100 row ms-auto"  style="margin-right: -8% !important;">
        <div class="content-wrapper pb-0">
         <h1 class="text-center">Total Customers</h1>
         
        <div class="row px-3">
         <table class="table table-bordered" style="width: 90%;">
         	<thead>
         		<tr>
         		<th>Name</th>
         		<th>Gender</th>
         		<th>Date of Birth</th>
         		<th>Contact number</th>
         		<th>Email</th>
         		<th>Password</th>
         		<th>Address</th>
         		<th>Profile Pic</th>
         		<th>Registration Date</th>
         		</tr>
         	</thead>
         	<tbody>
         		<tr th:each="registration:${clist}">
         			<td class="p-1" th:text="${registration.name}"></td>
         			<td class="p-1" th:text="${registration.gender}"></td>
         			<td class="p-1" th:text="${registration.dob}"></td>
         			<td class="p-1" th:text="${registration.contactno}"></td>
         			<td class="p-1" th:text="${registration.email}"></td>
         			<td class="p-1" th:text="${registration.password}"></td>
         			<td class="p-1" th:text="${registration.address}"></td>
         			<td class="p-1 text-center"><img alt="image not found" th:src="@{'/profiles/' + ${registration.profilepic}}" height="100px" width="100px"></td>
         			<td class="p-1" th:text="${registration.regdate}"></td>
         		</tr>
         	</tbody>
         </table>
       
        </div>
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial -->
      </div>
     

</section>
</body>
</html>