<html xmlns:th="http:/www.thymeleaf.org" th:replace="customer/customerbase::layout(~{::section})">
<head>
</head>
<body>
<section>
<div class="main-panel w-100 row ms-auto"  style="margin-right: -55% !important;">
        <div class="content-wrapper pb-0" style="margin: auto;">
         <h1 class="text-center">Your Cart</h1>
        <div class="row px-3">
       	</div>
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial -->
      </div>
     

</section>
</body>
</html>