<html xmlns:th="http:/www.thymeleaf.org" th:replace="customer/customerbase::layout(~{::section})">
<head>
</head>
<body>
<section>
<div class="main-panel row ms-auto">
        <div class="content-wrapper pb-0" style="margin-left: 55%;">
         <h1 class="text-center">Update Your Profile</h1>
        <div class="row px-3">
       		<form method="post">
       			<table class="table table-bordered" style="margin:30px auto;">
       			
       			<tr>
       			<td class="text-center" colspan="2">
       				<button type="submit" class="btn btn-primary">Update</button>
       			</td>
       			</tr>
       			</table>
       		</form>
        </div>
        </div>
        </div>

        <!-- content-wrapper ends -->
        
        <!-- partial -->
 

</section>
</body>
</html>