<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <section>
    <div class="row mb-5">
    	<div class="col-sm-10 mx-auto">
    	<h1 class="text-primary text-center fw-bold">Admin Login</h1>
    		<div class="row">
    		<div class="col-sm-7 rounded-start-pill bg-danger p-5">
    		<div th:if="${message}">
  				<p th:text="${message}" class="alert alert-danger alert-dismissible"></p>
  			</div>
    			<form method="post" class="m-auto">
    				<div class="my-2 px-4">
    				<b>Enter User ID(email) :</b> 
    				<input type="text" name="userid" class="form-control" placeholder="enter your user id..." required="required">
    				</div>
    				<div class="my-2 px-4">
    				<b>Enter Password :</b> 
    				<input type="text" name="password" class="form-control" placeholder="enter your password" required="required">
    				</div>
    				<div class="text-center pt-3">
    				<button type="submit" class="btn btn-primary px-4 py-2">Login</button>
    				</div>
    			</form>
    		</div>
    		<div class="col-sm-5 rounded-end-pill bg-success text-end">
    		<img alt="image not found" src="image/quiz-icon-medicine.png" class="w-75">
    		</div>
    		</div>
    	</div>
    </div>
    </section>
  </body>
</html>